[init]
	defaultBranch = main
[user]
	name = Guzmán Monné
	email = guzmonne@hotmail.com
[alias]
  branch-tree = log --graph --simplify-by-decoration --pretty=format:'%d' --all
  tree = log --all --graph --pretty=format:'%C(auto)%h%C(auto)%d %s %C(dim white)(%aN, %ar)'


[url "git@github.com:"]
	insteadOf = https://github.com
