[init]
	defaultBranch = main
[user]
	name = guzmonne
	email = guzmonne@hotmail.com
[alias]
	branch-tree = log --graph --simplify-by-decoration --pretty=format:'%d' --all
	tree = log --all --graph --pretty=format:'%C(auto)%h%C(auto)%d %s %C(dim white)(%aN, %ar)'
	rank = shortlog -s -n --no-merges
	tags = log --oneline --decorate --tags --no-walk
	# Show log in a pretty format with relative dates, commit hash, message, author, and date.
	# The '%h' is the abbreviated hash, '%s' is the subject, '%ad' is the author date, and '%an' is the author name.
	history = "log --pretty=format:'%C(yellow)%h%C(reset) - %s %C(dim)%ad <%an>' --date=relative"
[core]
	pager = delta
	editor = "nvim"
	ignorecase = false
	excludesfile = /Users/guzmanmonne/Projects/Personal/.gitignore_global
[interactive]
	diffFilter = delta --color-only
[delta]
	syntax-theme = ansi
	line-numbers = true
	side-by-side = true
	conflictstyle = diff3
	tool = fugitive
	commit-decoration-style ="#7aa2f7" box
	commit-style = "#e0af68" bold italic
	hunk-header-decoration-style = "#7aa2f7" box
	hunk-header-file-style = "#bb9af7"
	hunk-header-line-number-style = "#e0af68" box
	hunk-header-style = file line-number syntax
	line-numbers = true
	line-numbers-left-style = "#7aa2f7"
	line-numbers-minus-style = "#ff7a93" bold
	line-numbers-plus-style = "#9ece6a" bold
	line-numbers-right-style = "#0db9d7"
	line-numbers-zero-style = "#acb0d0" italic
	minus-emph-style              = syntax "#763842"
	minus-empty-line-marker-style = syntax "#3f2d3d"
	minus-non-emph-style          = syntax "#3f2d3d"
	minus-style                   = syntax "#3f2d3d"
	navigate = true  # use n and N to move between diff sections
	plus-emph-style               = syntax "#316172"
	plus-empty-line-marker-style  = syntax "#283b4d"
	plus-non-emph-style           = syntax "#283b4d"
	plus-style                    = syntax "#283b4d"
[diff]
	colorMoved = default
[url "git@github.com:"]
	insteadOf = https://github.com
[advice]
  detachedHead = false
[merge]
  conflictstyle = diff3
[mergetool "fugitive"]
  cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[includeIf "gitdir:~/Projects/Canoe/"]
  path = ~/Projects/Canoe/.gitconfig
[includeIf "gitdir:~/Projects/Universe/"]
  path = ~/Projects/Universe/.gitconfig
[rerere]
	enabled = true
