repos/
config/nvim/plugged/
config/ansible/tmp/
tags
tmp/*
!tmp/keep
.zcompdump
.zsh_history
.env
.DS_Store

config/zsh/.histfile
config/zsh/.zprofile
config/zsh/.zsh_sessions/
config/zsh/.zshrc.zni
config/ranger/plugins
config/nvim/spell/en.utf-8.add
