repos/
config/nvim/plugged/
config/ansible/tmp/
tags
tmp/*
!tmp/keep
.zcompdump
.zsh_history
.env
.DS_Store
.luarc.json

config/zsh/.histfile
config/zsh/.zprofile
config/zsh/.zsh_sessions/
config/zsh/.zshrc.zni
config/zsh/.zcompcache/
config/ranger/plugins
config/nvim/spell/en.utf-8.add

config/ansible/collections
config/ansible/roles

config/pgcli/history
config/pgcli/log

scripts/node_modules
