# Basic HTML template inspired by the html5-boilerplate project
# https://github.com/h5bp/html5-boilerplate/blob/main/src/index.html
snippet Parameter "Cloudformation Parameter"
"$1": {
		"Description": "$2",
		"Type": "$3"
}$0
endsnippet

